@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btnadd{
    @apply rounded-md p-2 uppercase text-base font-bold cursor-pointer tracking-wider
}

.sensor{
    @apply sm:text-lg xl:text-xl mt-6 mr-6 p-4 w-full bg-white rounded-md overflow-hidden shadow-md
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial", Helvetica, sans-serif;
}

#container {
    width: 100%;
    background-color: none;
}

#navigation {
    min-width: 140px;
    min-height: 600px;
    background-color: #e100ff;
}

#content {
    width: 100%;
    min-height: 600px;
    background-color: #0026ff57;
}

#footer {
    height: 80px;
    background-color:#1df70057;
}

button:focus {
    outline: none;
}
.buttonleft {
    background-color: #424242;
    color: white;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;
    border: none;
    margin-left: 32px;
}
.buttonright {
    background-color: inherit;
    color: white;
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border: none;
    margin-left: 32px;

}
.buttonleft:hover {
    color: #FE9A2E;
    border: none;
}
.buttonright:hover {
    color: #FE9A2E;
    border: none;
}